<%= form_for @blanket, html: {multipart: true} do |f| %>

  <%= render "shared/errors", object: @blanket %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, :required => "required" %>
  </div>
  <div>
    <%= f.label :photo %><br />
    <span>Upload from URL:</span>
    <%= f.text_field :remote_photo_url%>
    <strong>OR</strong><br />
    <span>Upload from device:</span><br />
    <%= f.file_field :photo %>
  </div>
  <div>
    <%= f.label :blanket_type %>
    <%= f.collection_select(:blanket_type_id, BlanketType.all, :id, :blanket_type,{prompt: "Select type"}) %>
  </div>
  <div>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>
  <div>
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>
  <div>
    <%= f.label :colour, "Main colour or pattern" %>
    <%= f.text_field :colour %>
  </div>
  <div>
    <%= f.label :trim %>
    <%= f.text_field :trim %>
  </div>
  <div>
    <%= f.label :status, "Status Tags" %>
    <%= f.collection_check_boxes(:status_ids, Status.all, :id, :name) do |status| %>
      <div>
        <%= status.check_box %>
        <%= status.label %>
      </div>
    <% end %>
  </div>
  <div>
    <%= f.label :note, "Notes" %>
    <%= f.text_area :note %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Save" %>

<% end %>
