<div class="blanket-filters">
  <%= form_tag blankets_path, method: :get do %>
    <div class="filter-input">
      <%= label_tag "[blanket_sizes]", "Size:" %>
      <%= collection_select(nil,
                            :blanket_size,
                            current_user.blankets.select(:blanket_size).distinct.order("blanket_size ASC"),
                            :blanket_size,
                            :blanket_size,
                            {prompt: "All"},
                            {class: "filter-select"}) %>
    </div>
    <div class="filter-input">
      <%= label_tag "[blanket_type_id]", "Type:" %>
      <%= collection_select(nil,
                            :blanket_type_id,
                            BlanketType.all,
                            :id,
                            :blanket_type,
                            {prompt: "All"},
                            {class: "filter-select"}) %>
    </div>
    <div class="filter-input">
      <%= label_tag "[status_ids]", "Status:" %>
      <%= collection_select(nil,
                            :status_ids,
                            Status.all,
                            :id,
                            :name,
                            {},
                            {multiple: true, class: "filter-select-multiple"}) %>
    </div>
    <div class="filter-input">
      <%= submit_tag "Filter", name: nil %>
    </div>
  <% end %>
</div>

<% if @blankets.empty? %>
  <p>
    There are no blankets to display.
  </p>
<% else %>
  <ul class="blanket-list">
    <% @blankets.each do |blanket| %>
      <li class="blanket-list-card">
          <%= link_to "", "/blankets/#{blanket.id}", class: "blanket-thumbnail", style: "background-image: url(#{blanket.photo.thumb.url})" %>
        <h3><%= link_to blanket.name, "/blankets/#{blanket.id}", class: "blanket-link modal-trigger" %></h3>
      </li>
    <% end %>
  </ul>
<% end %>

<div id="overlay"></div>
<div id="modal">
  <div id="content"></div>
  <a href="#" id="close"><i class="fa fa-window-close" aria-hidden="true"></i></a>
</div>
