<h1>Blanket Boss</h1>
<h2>Your equine wardrobe manager</h2>

<ul>
  <% @blankets.each do |blanket| %>
    <li>
      <h3><%= link_to blanket.name, "/blankets/#{blanket.id}"%></h3>
      <% if blanket.photo != "" %>
        <img src="<%= blanket.photo %>" alt="Photo of <%= blanket.name %>"><br />
      <% end %>
      <span>Type:</span><%= blanket.blanket_type %><br />
      <span>Colour:</span><%= blanket.colour %><br />
      <span>Trim:</span><%= blanket.trim %><br />
      <span>Status:</span><%= blanket.status %><br />
      <span>Note:</span><%= blanket.note %>
    </li>
  <% end %>
</ul>
