<div class="blanket-card">

  <div class="blanket-actions">
    <%= link_to @blanket, method: :delete do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %> |
    <%= link_to edit_blanket_path(@blanket) do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <% end %>
  </div>

  <h1 class="blanket-name"><%= @blanket.name %></h1>

  <% if @blanket.photo.present? %>
  <%= image_tag @blanket.photo, alt: "Photo of #{@blanket.name}" %>
  <% end %>

  <p>
    <b>Brand:</b>
    <%= @blanket.brand %>
  </p>
  <p>
    <b>Type:</b>
    <%= @blanket.blanket_type&.readable %>
  </p>
  <p>
    <b>Colour:</b>
    <%= @blanket.colour %>
  </p>
  <p>
    <b>Trim:</b>
    <%= @blanket.trim %>
  </p>
  <p>
    <b>Size:</b>
    <%= @blanket.blanket_size %>
  </p>
  <p>
    <b>Status:</b>
      <% @blanket.statuses.each do |status| %>
        <span class="blanket-status"><%= status.name %></span>
      <% end %>
  </p>
  <p>
    <b>Note:</b>
    <%= @blanket.note %>
  </p>

</div>
