<h1><%= @blanket.name %></h1>

<img src="<%= @blanket.photo %>" alt="Photo of <%= @blanket.name %>">

<span>Type:</span><%= @blanket.blanket_type %><br />
<span>Colour:</span><%= @blanket.colour %><br />
<span>Trim:</span><%= @blanket.trim %><br />
<span>Status:</span><%= @blanket.status %><br />
<span>Note:</span><%= @blanket.note %>
