<h1><%= @blanket.name %></h1>

<% if @blanket.photo != "" %>
  <img src="<%= @blanket.photo %>" alt="Photo of <%= @blanket.name %>"><br />
<% end %>

<span>Type:</span><%= @blanket.blanket_type %><br />
<span>Colour:</span><%= @blanket.colour %><br />
<span>Trim:</span><%= @blanket.trim %><br />
<span>Status:</span><%= @blanket.status %><br />
<span>Note:</span><%= @blanket.note %>
