<div class="blanket-card">
  <div class="blanket-actions">
    <%= link_to "Edit", edit_blanket_path(@blanket) %> |
    <%= link_to "Delete", @blanket, method: :delete %>
  </div>
  <h1 class="blanket-name"><%= @blanket.name %></h1>

  <% if @blanket.photo.present? %>
  <%= image_tag @blanket.photo, alt: "Photo of #{@blanket.name}" %>
  <% end %>

  <p>
    <span>Brand:</span>
    <%= @blanket.brand %>
  </p>
  <p>
    <span>Type:</span>
    <%= @blanket.blanket_type&.readable %>
  </p>
  <p>
    <span>Colour:</span>
    <%= @blanket.colour %>
  </p>
  <p>
    <span>Trim:</span>
    <%= @blanket.trim %>
  </p>
  <p>
    <span>Size:</span>
    <%= @blanket.blanket_size %>
  </p>
  <p>
    <span>Status:</span>
    <% @blanket.statuses.each do |status| %>
      <%= status.name %>
    <% end %>
  </p>
  <p>
    <span>Note:</span>
    <%= @blanket.note %>
  </p>

</div>
