<div class="blanket-card">
  <h1><%= @blanket.name %></h1>

  <% if @blanket.photo != "" %>
    <img src="<%= @blanket.photo %>" alt="Photo of <%= @blanket.name %>"><br />
  <% end %>

  <span>Brand:</span><%= @blanket.brand %><br />
  <span>Type:</span><%= @blanket.blanket_type %><br />
  <span>Colour:</span><%= @blanket.colour %><br />
  <span>Trim:</span><%= @blanket.trim %><br />
  <span>Size:</span><%= @blanket.size %><br />
  <span>Status:</span><%= @blanket.status %><br />
  <span>Note:</span><%= @blanket.note %>
</div>

<div class="blanket-actions">
  <%= link_to "Edit", edit_blanket_path(@blanket) %>
  <%= link_to "Delete", @blanket, method: :delete %>
</div>
