<%= form_tag sessions_path, method: :post do %>

  <div class="form-field">
    <%= email_field_tag :email, "", {placeholder: "Email"} %>
  </div>

  <div class="form-field">
    <%= password_field_tag :password, "", {placeholder: "Password"} %>
  </div>

  <div class="form-checkbox">
    <%= check_box_tag :remember, params[:remember] %>
    <%= label_tag :remember, "Remember me"%>
    <%= submit_tag "Go!", class: "submit" %>
  </div>

  <%= link_to 'Forgot Password?', new_password_reset_path %>

<% end %>
