<header class="app-header <%= request.url == root_url ? 'app-header-home' : 'app-header-fixed' %>">

  <h1 class="home-link"><%= link_to "Blanket BOSS", root_url %></h1>

  <% if current_user %>
    <nav>
      <ul class="main-menu">
        <li>
          <%= link_to blankets_path do %>
            <i class="fa fa-list" aria-hidden="true"></i>
            <span>View Blankets</span>
          <% end %>
        </li>
        <li>
          <%= link_to new_blanket_path do %>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            <span>Add Blanket</span>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete do %>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span>Log Out</span>
          <% end %>
        </li>
      </ul>
    </nav>
  <% else %>
    <nav>
      <ul class="main-menu">
        <li>
          <%= link_to "About", about_url %>
        </li>
        <li>
          <%= link_to "Contact", contact_url %>
        </li>
        <li>
          <%= link_to "Log in", new_session_url, class: "login-link" %>
        </li>
        <li>
          <%= link_to "Sign up!", new_user_url, class: "button" %>
        </li>
      </ul>
    </nav>
  <% end %>

<div class="home-login hide-login">
  <%= render "sessions/form" %>
  <i class="fa fa-chevron-up login-close" aria-hidden="true"></i>
</div>

</header>
