<!DOCTYPE html>
<html>
  <head>
    <title>BlanketBoss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <a href="<%= blankets_url %>">BlanketBoss</a>
  </header>

  <nav>
    <ul>
      <li><a href="<%= blankets_url %>/new">Add a blanket</a></li>
    </ul>
  </nav>

  <main>

    <%= yield %>

  </main>

  <footer>
    &copy; 2017 <a href="http://svillegas.com">svillegas creative</a>
  </footer>

  </body>
</html>
