<!DOCTYPE html>
<html>
  <head>
    <title>BlanketBoss - Your equine wardrobe manager!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1><a href="/">BlanketBoss</a></h1>

    <nav>
      <ul>
        <li><a href="<%= blankets_url %>/new">Add a blanket</a></li>
      </ul>
    </nav>
  </header>



  <main>

    <%= yield %>

  </main>

  <footer>
    &copy; 2017 <a href="http://svillegas.com">svillegas creative</a>
  </footer>

  </body>
</html>
