<!DOCTYPE html>
<html>
  <head>
    <title>BlanketBoss - Your equine wardrobe manager!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render :partial => "header" unless request.url == root_url %>

  <main>

    <%= yield %>

  </main>

  <footer>
    <%= link_to("About", about_url) %> |
    &copy; 2017 <%= link_to("sylvia villegas creative", "http://svillegas.com") %>
  </footer>

  </body>
</html>
