<!DOCTYPE html>
<html>
  <head>
    <title>BlanketBoss - Your equine wardrobe manager!</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, message| %>
      <div class="flash flash-<%= key %> animated fadeInDown">
        <%= message %>
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    <% end %>

    <% if request.url == root_url %>
      <%= yield %>
    <% else %>
    <%= render :partial => "header" %>
      <main>
        <%= yield %>
      </main>
    <% end %>


  <footer>
    &copy; 2017 <%= link_to "sylvia villegas creative", "http://svillegas.com" %>
    | <%= link_to "About", about_url %>
    | <%= link_to "Contact", contact_url %>
  </footer>

  </body>
</html>
